<div class="container-contacto">
    <div class="contacto">
        <div class="contacto__info">
            <h2 class="contacto__info-title">Información de contacto</h2>
            <p class="contacto__info-text location">Calle Respaldo 14, No. 21, Ensanche Naco, Santo Domingo, República Dominicana</p>
            <a href="tel:18295447327" class="contacto__info-text number">(829) 544-7327</a>
            <a href="mailto:contact@iccdominicana.com" class="contacto__info-text email">contact@iccdominicana.com</a>
        </div>
        <div class="contacto__form">
            <div class="contacto__form-title">Contacto</div>
            <form class="contacto__form-form">
                <div class="input-group">
                    <input type="text" name="nombre" class="form-name" placeholder="Nombre">
                    <input type="email" name="email" id="email" class="form-email" placeholder="Email">
                </div>
                <input type="text" name="telefono" id="telefono" class="form-telefono" placeholder="Telefono">
                <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-mensaje" placeholder="Mensaje"></textarea>
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>
    </div>
</div>