<div class="nosotros-container">
    <div class="nosotros__box">
        <h1 class="nosotros__box-title">¿Quienes Somos?</h1>
        <p class="nosotros__box-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque adipisci cumque quos voluptatum consectetur.
        </p>
        
    </div>
    <div class="container-mvv">
        <div class="mvv__vision">
            <img src="assets/img/vision.svg" alt="" class="mvv__vision-img">
            <h3 class="mvv__vision-title">Visión</h3>
            <p class="mvv__vision-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, quia suscipit laudantium sed corporis distinctio molestias 
                perferendis culpa expedita deleniti rerum ipsam voluptas aliquid voluptates amet ad, consequatur impedit. Distinctio?
            </p>
        </div>
        <div class="mvv__mision">
            <img src="assets/img/diamond.svg" alt="" class="mvv__mision-img">
            <h3 class="mvv__mision-title">Misión</h3>
            <p class="mvv__mision-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, quia suscipit laudantium sed corporis distinctio molestias 
                perferendis culpa expedita deleniti rerum ipsam voluptas aliquid voluptates amet ad, consequatur impedit. Distinctio?
            </p>
        </div>
        <div class="mvv__valores">
            <img src="assets/img/objetivo.svg" alt="" class="mvv__valores-img">
            <h3 class="mvv__valores-title">Valores</h3>
            <p class="mvv__valores-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, quia suscipit laudantium sed corporis distinctio molestias 
                perferendis culpa expedita deleniti rerum ipsam voluptas aliquid voluptates amet ad, consequatur impedit. Distinctio?
            </p>
        </div>
    </div>
</div>
