.nosotros__box
    background: #f0f0f0
    width: 90%
    margin: auto
    padding: 20px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 330px
.nosotros__box-title
    font-family: 'Cinzel', serif
    font-size: 3em
    color: #555
    margin-bottom: 15px
    text-transform: uppercase
.nosotros__box-text
    font-family: 'Raleway', sans-serif
    width: 60%
    text-align: center
.container-mvv
    width: 90%
    margin: 40px auto
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 30px
.mvv__vision,
.mvv__mision,
.mvv__valores
    background: #f5f5f5
    padding: 30px
    border-radius: 2px
.mvv__vision-img,
.mvv__mision-img,
.mvv__valores-img
    width: 80px
    display: block
    margin: auto
    margin-bottom: 30px
.mvv__vision-title,
.mvv__mision-title,
.mvv__valores-title
    text-align: center
    font-size: 2em
    margin-bottom: 20px
    color: #333
    text-transform: uppercase
    font-weight: 100
.mvv__vision-text,
.mvv__mision-text,
.mvv__valores-text
    text-align: center
    font-family: 'Raleway'
    color: #333
    line-height: 1.5em