<div class="container-navbar">
    <nav class="navbar">
        <ul class="navbar__leftside-menu">
            <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
            <li><a routerLinkActive="active" routerLink="/nosotros">Nosotros</a></li>
        </ul>
        <div class="navbar__logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <ul class="navbar__rightside-menu">
            <li><a routerLinkActive="active" routerLink="/eventos">Eventos</a></li>
            <li><a routerLinkActive="active" routerLink="/contacto">Contacto</a></li>
        </ul>
    </nav>
</div>
