<div class="container-home-page">
    <div class="banner">
        <h1 class="banner__title">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
        <a href="" class="banner__btn">Contactanos</a>
    </div>
    <div class="hp-first-session">
        <div class="hp-first-session__info">
            <h2 class="hp-first-session__info-title">Lorem ipsum dolor sit amet consectetur.</h2>
            <p class="hp-first-session__info-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, velit nulla ratione rerum ducimus hic.</p>
            <button class="hp-first-session__info-btn">Nosotros</button>
        </div>
        <img src="assets/img/img2.jpg" alt="">
    </div>
</div>
