
<div class="container-eventos">
    <div class="eventos__box">
        <h1 class="eventos__box-title">Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>        
        <div class="eventos__box-container-btns">
            <a href="" class="eventos__box-container-btns-btn active">Bodas</a>
            <a href="" class="eventos__box-container-btns-btn">Cumpleaños</a>
            <a href="" class="eventos__box-container-btns-btn">Baby shower</a>
        </div>
    </div>
    <div class="eventos-imgs">
        <div class="eventos-imgs__bodas">
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
            <div class="eventos-imgs__bodas-img">
                <img src="assets/img/img8.jpg" alt="">
            </div>
        </div>
    </div>
</div>